# Next.js
.next/
out/
build/
.vercel/

# Dependencies
node_modules/

# Cache
.cache/
*.db

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

__pycache__/
*.py[cod]
*$py.class
backenv/
.env
.venv
venv/
ENV/
*.pkl
.DS_Store